<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">



    <bean id="student" class="com.wyy.bao.student" autowire="byName">
        <property name="name" value="赵四"/>
        <property name="age" value="60"/>
    </bean>

    <bean id="school" class="com.wyy.bao.school">
        <property name="name" value="安阳学院"/>
        <property name="address" value="安阳"/>
    </bean>

</beans>